.left-side {
    padding: 0px 0px 100px;
    background: #9100ff;
    background-size: cover;
}

.left-side h1 {
    font-size: 70px;
    font-weight: 900;
    color: #FFF;
    padding: 50px 10px 00px 26px;
}

.left-side p {
    font-weight: 600;
    color: #FFF;
    padding: 10px 10px 10px 26px;
}

.right-side {
    padding: 30px 0px 100px;
    background: #FFF;
    background-size: cover;
    min-height: 514px;
}

.right-side h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    padding: 50px 10px 00px 50px;
}

.right-side p {
    font-weight: 600;
    color: #000;
    padding: 10px 50px 10px 50px;
}

.form{padding:10px 50px 10px 50px;}

input.ng-invalid {
    border-left: 5px solid red;
    border-right: 5px solid red;
}

input.ng-valid {
    border-left: 10px solid green;
    border-right: 10px solid green;
}