<!-- <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" formControlName="password" required>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-default">Submit</button>
</form> -->

<!-- <div class="back">
    <div class="div-center">
        <div class="content">
            <h3>Login</h3>
            <hr />
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password" formControlName="password" required>
                </div>
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
                <hr />
            </form>
        </div>
    </div>
</div> -->

<div class="container">

    <div class="col-sm-8 col-sm-offset-2 main">
        <div class="col-sm-6 left-side">
            <h1>Hello<br>World.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo eget nibh convallis
                pharetra.</p>
            <br>
        </div><!--col-sm-6-->

        <div class="col-sm-6 right-side">
            <h1>Login</h1>
            <!--Form with header-->
            <div class="form">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Password" formControlName="password" required>
                    </div>
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
                    <hr />
                </form>
            </div>
            <!--/Form with header-->
        </div><!--col-sm-6-->
    </div><!--col-sm-8-->
</div><!--container-->