<style>
    .well {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
}
    
</style>

<h1 align="center">Home Page</h1>



<div class="well well-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat dolor ac lacinia sagittis. Mauris tincidunt dapibus ipsum a congue. Pellentesque vel elit et erat tempor iaculis. Donec pretium libero tortor, a porttitor tortor auctor a. Cras rhoncus posuere diam sit amet sagittis. Maecenas vitae fringilla dui. Maecenas id auctor risus. Suspendisse aliquet nibh nec orci tincidunt posuere. Vivamus imperdiet finibus viverra. Duis mattis, lectus suscipit ultricies congue, dui sapien aliquam est, vitae mollis risus quam quis erat. In ut est velit. Vivamus luctus, elit at blandit varius, justo enim pellentesque sapien, eu sodales ipsum lacus a felis.</div>

<div class="well well-sm">Donec id odio faucibus, hendrerit diam ac, iaculis elit. Suspendisse at pharetra lacus, venenatis pellentesque orci. Maecenas elit mi, mollis at nulla lobortis, tristique condimentum nibh. Nullam ultricies dignissim tincidunt. In vitae ligula neque. Sed et lorem massa. Donec malesuada enim eu quam gravida, eget consectetur eros eleifend. Suspendisse convallis justo eu purus dignissim tincidunt. Pellentesque tellus arcu, elementum id ligula at, auctor efficitur risus. Vivamus gravida diam eu blandit pulvinar. Morbi at blandit justo. Aliquam erat volutpat.</div>

<div class="well well-sm">Curabitur id ultrices quam, eu vulputate lacus. Pellentesque aliquam ex a iaculis blandit. Ut pretium porta metus eu pellentesque. Aenean iaculis, eros quis mollis gravida, risus dolor blandit nisl, quis gravida turpis lorem in erat. Aliquam at consectetur magna. Sed pulvinar euismod iaculis. Donec lorem diam, laoreet eu diam sit amet, iaculis aliquam massa. Duis purus ante, volutpat et varius ut, aliquet at nunc. Suspendisse nunc tortor, efficitur in eros eu, porttitor porttitor nibh. Praesent nibh sapien, condimentum sed risus eu, efficitur blandit metus. In pretium imperdiet sodales. Aliquam ex erat, ultricies nec lorem quis, placerat tincidunt nibh. Morbi ipsum augue, posuere ac hendrerit a, bibendum gravida lacus. Donec sit amet lacus hendrerit, auctor justo quis, maximus nisl. Morbi eget neque velit. Nunc convallis quam mauris, scelerisque pulvinar velit condimentum ac.</div>

